* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* start top nav-info */
.top-nav {
  background-color: #170135;
  height: 70px;
  display: flex;
  align-items: center;
  color: white;
}

.top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.top-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.top-right {
  display: grid;
  grid-template-columns: 1fr 15% 1fr;
}

.top-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-left: white 1px solid;
}

.top-item i {
  margin: 0 10px 0 20px;
  font-size: 25px;
}
.top-item p {
  margin: 0;
}

.top-item .cart-co {
  margin: auto;
}
/* for cart notifications */
.top-item .noti {
  background-color: #f77979;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -25px;
  top: -15px;
  width: 19px;
  height: 19px;
  color: white;
  border-radius: 50%;
  border: 1.5px white solid;
  padding-top: 3px;
}

.top-item input {
  width: 80%;
  margin-left: 20px;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  border: none;
  color: white;
}

.top-item input::placeholder {
  color: white;
}

/* end top nav-info */

/* start main nav */

.nav-logo {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: auto;
}

.nav-logo img {
  margin-bottom: 16px;
}

.main-nav {
  background-color: #542875;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* start nav links */
.nav-list {
  height: 100%;
}

.nav-list a {
  color: white;
}

.nav-item {
  margin: 0 5px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* start borders and borders covers */
.nav-item .border-b {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 7px 1fr;
}

.cover {
  overflow: hidden;
}

.nav-item .border-1,
.border-2 {
  background-color: white;
  height: 3px;
}

.border-1 {
  position: relative;
  left: 100%;
}

.border-2 {
  position: relative;
  right: 100%;
}

.nav-item:hover {
  cursor: pointer;
}

/* start border animation */
.nav-item:hover .border-1 {
  animation: border-animate1 0.5s ease-in alternate forwards;
}

.nav-item:hover .border-2 {
  animation: border-animate2 0.5s ease-in-out forwards;
}

@keyframes border-animate1 {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

@keyframes border-animate2 {
  from {
    right: 100%;
  }
  to {
    right: 0%;
  }
}
/* end border animation */

/* start main btn */
.btn-container {
  height: 70%;
  border-radius: 37px;
  display: flex;
  align-items: center;
}
.btn-container:hover {
  cursor: pointer;
  animation: btn-container-animation linear .2s .2s ;
}

@keyframes btn-container-animation {
  90% {
    box-shadow: rgba(255, 166, 0, 0) 0 0 10px 2px;
  }
  50% { 
    box-shadow: rgba(255, 166, 0, 0.267) 0 0 10px 2px;
  }
 
}
.main-nav-btn {
  background-color: #75429c;
  color: white;
  margin: 25px 15px;
  width: 185px;
  height: 50px;
  border: none;
  border-radius: 37px;
  outline: none;
}

.btn-container:hover .main-nav-btn {
  animation: btn-hover-animat 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards;
}

@keyframes btn-hover-animat {
  0% {
    transform: scale(0.7, 0.7);
  }
  98% {
    background-color: #75429c;
  }
  100% {
    background-color: orange;
  }
}

/* end main btn */

/* end main nav */
